<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div id="menuitems" ng-controller='NarrowItDownController as list'>
      <!-- <div class="form-group"> -->
        <input type="text" placeholder="search term" class="form-control" ng-model="searchTerm">
      <!-- </div> -->
      <!-- <div class="form-group narrow-button"> -->
        <button class="btn btn-primary" ng-click="list.getMatches(searchTerm);">Narrow It Down For Me!</button>
      <!-- </div> -->

      <!-- found-items should be implemented as a component (from directive foundItems) -->
      <!-- we've taken properties in the directive and set them equal to things(found is array of found items and removeItem is a function) in the controller list. Here list refers to the NarrowItDownController -->
      <found-items founditems="list.found" clicked="list.clicked" on-remove="list.removeItem(index)">    
      </found-items>
    </div>
  </div>

</body>
</html>
